body {
  background-image: url(https://i.pinimg.com/originals/a5/cb/43/a5cb43263d59f836b27f86b6a88b21f8.jpg);
  color: #2C2C2C;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

h1 {
  color:#F3B5AA;
  font-size: 53px;
}


a {
  text-decoration: none;
  color: black;
  font-weight: bold
}


#photo {
  border-radius: 60px;
  padding: 32px;
}

a:hover {
  color: grey;
}


.main_container {
  width: 1320px;
  margin: 15px auto;
  padding: 10px 18px;
  border-radius: 12px;
}


.link-page {
  background-color: #F3B5AA;
  color: black;
  padding: 12px 27px;
  border-radius: 15px;
  text-decoration: none;
}

.link-page:hover {
  background-color:black ;
  color: yellow;
}

.card-white{
  background-color: white;
  padding: 42px;
  text-decoration: none;
  box-shadow: 30px 16px 15px rgba(0.1,0,0,0.2);
  border-radius: 25px;
  margin: 32px 12px;
  text-align: center;
}

.card-white:hover{
  background-color:#E4E4E4;
}

.list-inline{
  list-style: none;
  padding-left: 1px;
  text-decoration: none;
}

.list-inline li{
  display: inline;
  padding: 6px;
}

@media (max-width: 1160px) {
  .main_container {
    width: 960px;
  }
}

#intro p{
  margin-bottom: 32px;
}


@media (max-width: 730px) {
  .main_container {
    width: 560px;
  }
}

.list-inline{
  font-size:47px;
}

